.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  color: white;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  left: 13px;
  bottom: 11px;
}

.nav__notification2 {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  bottom: 18px;
  left: 20px;
}
